* {
    font-family: sans-serif;
}

body {
    background-color: rgb(28, 142, 207);
}

h2 {
    font-size: 30px;
}

header {
    width: 90%;
    height: 160px;
    background-color: #737373;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor_redes {
    width: 100px;
    height: 70px;
    background-color: rgba(255, 255, 255,0.9);;
    padding-left: 12px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor_titulo {
    width: 280px;
    height: 70px;
    background-color: rgba(255, 255, 255,1);;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 91%;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 8px;
    background-color: #974632;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.palabra_historia {
    width: 99%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    justify-content: center;
}

.contenedor_historia {
    width: 99%;
    height: 150px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margen {
    margin: 5px;
    font-weight: bold;
}

.slider {
    width: 99%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    margin-top: 8px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.slider ul {
    display: flex;
    padding: 5px;
    width: 400%;
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 300px;
    height: 300px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.contenedor_formulario1 {
    width: 98%;
    margin-top: 8px;
    padding-left: 16px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_formulario2 {
    width: 98%;
    margin-top: 8px;
    padding-left: 16px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
